<div class="container">
	<div class="d-flex justify-content-center bg-dark m-3 rounded-lg">
		<div class="bg-light text-dark p-5 rounded-lg">
			<h1><%= @info["name"] %></h1>
			<p><%= @info["email"] %></p>

			<ul class="list-group list-group-flush rounded-lg">
				<li class="list-group-item active bg-dark"> Social Media</li>
				<% @social.each do |item| %>
					<a class="list-group-item list-group-item-action" href="<%= item["url"] %>">
						<%= image_tag("icons/#{item["image"]}", size: "20x20") %> <%= item["name"] %>
					</a>
				<% end %>
				
				<li class="list-group-item active bg-dark"> Kit</li>
				<% @kit.each do |item| %>
					<li class="list-group-item">
						<%= image_tag("icons/#{item["image"]}", size: "20x20") %> <%= item["name"] %>
					</li>
				<% end %>
			</ul>

		</div>		
	</div>
</div>